.container {
    max-width: 1200px;
}

.user-details {
    background-color: #B0DB9C;
    gap: 15px;
}

input {
    border: 3px solid #537D5D;
    border-radius: 20px;
    margin-top: 5px;
    font-size: 12px;
}

label {
    font-size: 15px;
    font-family: sans-serif;
}

.business-card {
    background-color: #CAE8BD;
}

h4,
h2 {
    font-family: sans-serif;
    text-align: center;
}

.card-container {
    background-color: #e8a483;
    border-radius: 20px;
    margin: 0 auto;
    gap: 10px;
    display: inline-block;
    padding: 10px;
    border: 8px solid #b45a2d;
}

.card-container>img {
    border-radius: 20px;
    margin-top: 10px;
}

.details-container {
    padding: 10px;
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
}

.details-container div {
    display: inline-block;
}

.details-container p {
    margin: 5px 0;
    text-align: center;
    color: #875942;
    margin: 0;
    font-size: 12px;
}

.details-container h5 {
    font-family: sans-serif;
    margin: 3px 0px;
    font-size: 25px;
    text-align: center;
    color: #4B352A;
    font-weight: 700;
}

.details-container h6 {
    font-family: sans-serif;
    margin: 3px 0px;
    font-size: 15px;
    text-align: center;
    color: #4B352A;
    font-weight: 700;
    ;
}

.details-container a {
    text-decoration: underline;
    color: white;
    margin-right: 5px;
    font-size: 12px;
}

.qr-div {
    text-align: center;
    margin-top: 10px;
}

.copy-vcf {}

.copy-vcf button {
    margin-top: 8px;
    border-radius: 1px solid #4B352A;
    background-color: bisque;
    border-radius: 10px;
}