.row {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    max-width: 1200px;
}

.user-details {
    height: 100vh;
    width: 600px;
    background-color: #B0DB9C;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

input {
    border: 3px solid #537D5D;
    border-radius: 20px;
    height: 30px;
    width: 300px;
    margin-top: 5px;
    font-size: 18px;
}

label {
    font-size: 20px;
    font-family: sans-serif;
}

.business-card {
    height: 100vh;
    width: 600px;
    background-color: #CAE8BD;
}